logs
project/project
project/target
target/
tmp
.history
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
public
*.log
kolibri-base/prometheus/data
grafana/dashboards
!kolibri-base/grafana/dashboards/
kolibri-test/
/.bsp
/.scannerwork
/kolibri-base/test-files/k8s-test-results
/kolibri-base/test-files/test-results