logs
project/project
project/target
target/
tmp
.history
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
public
*.log
prometheus/data
grafana/*
!grafana/dashboards/
kolibri-test/
/.bsp
/.scannerwork
/test-files/k8s-test-results
/test-files/test-results