logs
project/project
project/target
target/
tmp
.history
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
public
*.log
prometheus/data
grafana/*
!grafana/dashboards/
kolibri-test/k8s-test/*
!kolibri-test/k8s-test/test-files/
